<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93702918083-ba5o7nkegle99jgpv9pmo7ntdu2unnbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93702918083-ba5o7nkegle99jgpv9pmo7ntdu2unnbq</string>
	<key>API_KEY</key>
	<string>AIzaSyA2INnLxZx8CyLg635lI_SCeD8dNimEClw</string>
	<key>GCM_SENDER_ID</key>
	<string>93702918083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>https---www.instagram.com-jea--dong-.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-6e824</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-6e824.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93702918083:ios:1330db20cfff8a7d7c3776</string>
</dict>
</plist>