<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945987509200-fetpdt8d83o506fjpa2qbe9neqs3i7n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945987509200-fetpdt8d83o506fjpa2qbe9neqs3i7n9</string>
	<key>API_KEY</key>
	<string>AIzaSyAocJ_Gp7SH1-g4FJRkHJdivnlloG8p1PM</string>
	<key>GCM_SENDER_ID</key>
	<string>945987509200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>https---www.instagram.com-jea--dong-.Warning</string>
	<key>PROJECT_ID</key>
	<string>warning-4df32</string>
	<key>STORAGE_BUCKET</key>
	<string>warning-4df32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945987509200:ios:abc01cc794a0d4288437d5</string>
</dict>
</plist>